In [1]:
t1 = ()
type(t1)

tuple

In [2]:
t4 = 1, 2, 3
type(t4)

tuple

In [3]:
t2= 1

In [4]:
type(t2)

int

In [5]:
t3 = (1)
type(t3)

int

In [6]:
t5 = (1,)
type(t5)

tuple

In [7]:
t6 = 1,
type(t6)

tuple

In [11]:
a = 0
while a < 10:
    a = a + 1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [14]:
a = 0
re = 0
while a <10:
    a = a + 1
    re = re + a
    
print(re)

55

In [15]:
########################
# for문
########################

In [16]:
test_list = ['one', 'two', 'three']  # i가 list 안의 요소를 한번씩 대입되며 반복
for i in test_list:
    print(i)

one
two
three

In [17]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [22]:
marks = [90, 25, 67, 45, 80]
number = 0

for mark in marks:
    number = number + 1
    if mark < 60 :
        continue
    print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [23]:
a = range(10) #range는 10 미만이다. (=미만이다.)

In [24]:
a

range(0, 10)

In [35]:
add = 0
for i in range(1, 11):
    add = add + i

In [36]:
print(add)

55

In [28]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 11):
    if i % 2 == 1:
        print(i)
    else:
        continue

In [39]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 1:
        print(a)
    else:
        continue

1
3
5
7
9

In [43]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [46]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end = " ")
    print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
for i in range(2, 10):
    print("<구구단 %d단>" % i)
    for j in range(1, 10):
        print("%d * %d = %d" % (i, j, (i * j)), end = "")
    print("")

In [1]:
a = 0
b = 0
while a < 10:
    a = a + 1
    while b < 10:
        b = b + 1
        print("%d * %d = %d" % (a, b, (a * b)))
    print("")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [2]:
i = 0
while True:
    i = i + 1
    if i > 5: break
    print(i * "*")

*
**
***
****
*****

In [ ]:
result = 0
for i in range(1, 101):
    result = result + i
print(result)