In [1]:
odd = [1, 3, 5, 7, 9]

In [2]:
odd

[1, 3, 5, 7, 9]

In [4]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [5]:
a = [1, 2, 3]

In [6]:
a

[1, 2, 3]

In [7]:
a[0]

1

In [8]:
a[0] + a[2]

4

In [9]:
a[-1]

3

In [10]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [11]:
a[0]

1

In [12]:
a[-1]

['a', 'b', 'c']

In [13]:
a[-1][-1]

'c'

In [14]:
a = [1, 2, 3, 4, 5]

In [15]:
a[0:2]

[1, 2]

In [16]:
a = [1, 2, 3]
b = [4, 5, 6]

In [17]:
a + b

[1, 2, 3, 4, 5, 6]

In [18]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
len(a)

3

In [20]:
a = [1, 2, 3]

In [21]:
a[2] = 4

In [22]:
a

[1, 2, 4]

In [23]:
del a[1]

In [24]:
a

[1, 4]

In [25]:
a = [1, 2, 3, 4, 5]

In [27]:
del a[2:]

In [28]:
a

[1, 2]

In [29]:
a.append(4)

In [30]:
a

[1, 2, 4]

In [34]:
a.append([5, 6])

In [35]:
a

[1, 2, 4, [5, 6]]

In [36]:
a = [1, 4, 3, 2]

In [37]:
a.sort()
a.reverse()

In [38]:
a

[4, 3, 2, 1]

In [40]:
a.sort(reverse = True)

In [41]:
a

[4, 3, 2, 1]

In [42]:
a.index(3)

1

In [43]:
a.insert(0, 4)

In [44]:
a

[4, 4, 3, 2, 1]

In [45]:
a = [1, 2, 3, 1, 2, 3]

In [47]:
a

[1, 2, 3, 1, 2, 3]

In [48]:
a.remove(3)

In [49]:
a

[1, 2, 1, 2, 3]

In [50]:
a = [1, 2, 3]

In [52]:
a.pop()

3

In [53]:
a

[1, 2]

In [54]:
a = [1, 2, 3, 1]

In [55]:
a.count(1)

2

In [56]:
a = [1, 2, 3]
a.extend([4, 5])

In [57]:
a

[1, 2, 3, 4, 5]

In [58]:
a = [1, 2, 3]

In [59]:
a.append([4, 5])

In [60]:
a

[1, 2, 3, [4, 5]]

In [61]:
#########################
# Tuple
#########################

In [66]:
t1 = () 
t2 = (1,)  #tuple은 한개만 있어도 괜히 쉼표를 넣어야 한다.
t3 = (1, 2, 3)
t4 = 1, 2, 3   #괄호가 생략 가능하다
t5 = ('a', 'b', ('ab', 'cd'))

In [67]:
t1 = (1, 2, 'a', 'b')

In [68]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [69]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [70]:
t1[0]

1

In [71]:
t1[1]

2

In [72]:
t1[1:]

(2, 'a', 'b')

In [73]:
t1 + t2

(1, 2, 'a', 'b', 1)

In [74]:
t2 * 2

(1, 1)

In [75]:
t1 = (1, 2, 3, 4)

In [76]:
len(t1)

4

In [77]:
###############
# dictionary
###############

In [78]:
a = {1:'hi'}

In [79]:
a = {'a':[1, 2, 3]}

In [80]:
a

{'a': [1, 2, 3]}

In [81]:
a = {1:'a'}

In [82]:
a

{1: 'a'}

In [83]:
a[2] = 'b'

In [84]:
a

{1: 'a', 2: 'b'}

In [85]:
a['name'] = 'pey'

In [86]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [87]:
del a[1]

In [88]:
a

{2: 'b', 'name': 'pey'}

In [89]:
grade = {'pey':10, 'Julliet':99}

In [90]:
grade['pey']

10

In [91]:
grade['Julliet']

99

In [92]:
######################
# set
######################

In [95]:
s1 = set([1, 2, 3])

In [96]:
s1

{1, 2, 3}

In [97]:
s2 = set("Hello")

In [98]:
s2

{'H', 'e', 'l', 'o'}

In [99]:
s = set()
s

set()

In [100]:
s1

{1, 2, 3}

In [101]:
l1 = list(s1)

In [102]:
l1

[1, 2, 3]

In [103]:
t1 = tuple(s1)

In [104]:
t1

(1, 2, 3)

In [105]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 &s2

{4, 5, 6}

In [107]:
s1.intersection(s2)

{4, 5, 6}

In [108]:
s1| s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [109]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
s1 - s2

{1, 2, 3}

In [111]:
s1.difference(s2)

{1, 2, 3}

In [112]:
s2.difference(s1)

{7, 8, 9}

In [113]:
s1 = set([1, 2, 3])
s1.add(4)

In [114]:
s1

{1, 2, 3, 4}

In [115]:
s1.update({4, 5, 6})

In [116]:
s1

{1, 2, 3, 4, 5, 6}

In [117]:
s1.remove(3)

In [118]:
s1

{1, 2, 4, 5, 6}

In [119]:
#####################
# Bool #데이터 타입이 트루뽈스면 bool 타입인거임
#####################

In [120]:
# True False는 무조건 대문자로 시작해야함

In [121]:
a = True

In [122]:
b = False

In [127]:
type(a)

bool

In [125]:
1 == 1

True

In [126]:
1 == 2

False

In [128]:
2 > 1

True

In [129]:
1 > 1

False

In [130]:
1 >= 1

True

In [ ]:
"python"

In [ ]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

In [ ]:
if [1]:
    print('참')
else:
    print('거짓')

In [ ]:
bool([1, 2, 3])

In [ ]:
bool([])

In [ ]:
bool(0)

In [ ]:
bool(3)

In [ ]:
l1 = [80, 75, 55]
(l1[0] + l1[1] + l1[2])/index(l1)