<a href="https://colab.research.google.com/github/suumino/pythonbasic/blob/main/day05_01_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nums = [100, 200, 300, 400, 500]
del(nums[3:])
print(nums)

[100, 200, 300]

In [ ]:
nums = [100, 200, 300, 400, 500]
a = 0
while a < 5:
  a += 1
  if a < 4:
    continue
  else:
    nums.pop()
print(nums)

[100, 200, 300]

In [ ]:
a = [200, 100, 300]
a.insert(2, 10000)
print(a)

[200, 100, 10000, 300]

In [ ]:
l = [100, 200, 300]
print(type(l))

<class 'list'>

In [ ]:
a = 'p'
print(type(a))

<class 'str'>

In [ ]:
a = 10
b = 2
for i in range(1, 5, 2):
  a += i
  print(a + b)

13
16

In [ ]:
d = {'w': 78, 'w':84}
print(d['w'])

84

In [ ]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep = '/', end = ' ')
print(hour, minute, second, sep = ':')

2019/04/26 11:34:27

In [ ]:
a = int(input("몇단짜리 트리를 만들까요? :"))

for i in range(1, a + 1):
  d = (2 * i - 1)
  print(" " * (a - i) , "*" * d , " " * (a - i))

몇단짜리 트리를 만들까요? :5
     *
    ***
   *****
  *******
 *********

In [ ]:
s = 0
for i in range(1, 101):
  s += i
print(s)

5050

In [ ]:
class Wizard: 
  def __init__ (self, health, mana, armor):
    self.health = health
    self.mana = mana
    self.armor = armor
    
  def attack(self):
    print("파이어볼")

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [ ]:
a = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
b = int(input("태양에서 몇 번째로 가까운 행성을 알려드릴까요 : "))
print(a[b-1])

태양에서 몇 번째로 가까운 행성을 알려드릴까요 : 8
해왕성

In [ ]:
a = int(input("숫자를 입력해 주세요 : "))

if a % 3 == 0: 
  print("짝")
else :
  print(a)

숫자를 입력해 주세요 : 5
5

In [ ]:
name = input("이름을 입력해주세요 : ")

print("안녕하세요 저는 %s 입니다." % name)

이름을 입력해주세요 : 김다정
안녕하세요 저는 김다정 입니다.

In [ ]:
a = input("문장을 입력해주세요 : ")


for i in range(len(a), 0, -1):
  print(a[i-1], end = '')

문장을 입력해주세요 : asdf
fdsa

In [ ]:
s = input('')
print(s[::-1])

ㅁㄴㅇㄻㄴㅇㄹ
ㄹㅇㄴㄻㅇㄴㅁ

In [ ]:
a = int(input("키를 입력해 주세요: "))

if a > 150 : 
  print("Yes")
else :
  print("No")

키를 입력해 주세요: 151
Yes

In [ ]:
a = int(input("세 과목의 점수를 입력해 주세요 : "))
b = int(input(""))
c = int(input(""))

d = int((a + b + c)/3)
print("%d" % d)

세 과목의 점수를 입력해 주세요 : 50
세 과목의 점수를 입력해 주세요 : 50
세 과목의 점수를 입력해 주세요 : 60
53

In [ ]:
a = int(input())
b = int(input())

c = int(a ** b)
print("%d" % c)

2
4
16

In [ ]:
a, b = map(int,input().split())
print(a**b)

2 4
16