In [92]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [93]:
print(a.add())

4

In [105]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

In [106]:
a = MoreFourCal(4, 2)

In [107]:
a.add()

6

In [108]:
a.pow()

16

In [121]:
a = MoreFourCal(4, 4)

In [120]:
a.pow()

1

In [111]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else: 
            return self.first / self.second

In [117]:
a = SafeFourCal(4, 0)

In [118]:
a.div()

0

In [122]:
try:
    f = open("없는파일", 'r')
except FileNotFoundError:
    pass

In [123]:
class Bird:
    def fly(self):
        raise nNotplementedError

In [128]:
class Eagle(Bird):
    def fly(self):
        print('very fast')

In [129]:
eagle = Eagle()

In [130]:
print(eagle.fly())

very fast
None

In [131]:
class MyError(Exception):
    pass

In [133]:
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

In [135]:
say_nick('천사')

천사

In [138]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError as e:
    print(e)

천사

In [139]:
class MyError(Exception):
    def __str__(self):
        return '허용되지 않는 별명입니다.'

In [140]:
abs(3)

3

In [141]:
abs(-3)

3

In [142]:
all([1, 2, 3])

True

In [143]:
all([1, 2, 3, 0])

False

In [144]:
any([])

False

In [145]:
chr(48)

'0'

In [147]:
dir([1, 2, 3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [148]:
divmod(7, 3)

(2, 1)

In [149]:
for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

In [152]:
def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result

In [153]:
print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [154]:
def positive(x):
    return x > 0

In [156]:
print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [157]:
a = 3

In [158]:
id(3)

140719335483232

In [160]:
id(a)

140719335483232

In [161]:
b = a

In [162]:
id(b)

140719335483232

In [163]:
a = input()

hi

In [164]:
b = input('입력하세요 : ')

입력하세요 : 1234

In [165]:
type(b)

str

In [166]:
c = int(input('입력하세요 : '))

입력하세요 : 1234

In [167]:
type(c)

int

In [168]:
len('python')

6

In [169]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [170]:
list((1, 2, 3))

[1, 2, 3]

In [177]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number * 2)
    return result

In [180]:
result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [181]:
def two_times(x):
    return x * 2

In [182]:
list(map(two_times,[1, 2, 3, 4]))

[2, 4, 6, 8]

In [183]:
max('python')

'y'

In [184]:
ord('a')

97

In [185]:
chr(97)

'a'

In [186]:
list(range(5))

[0, 1, 2, 3, 4]

In [187]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [188]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [190]:
 list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [191]:
round(4.6)

5

In [210]:
a = [332, 342, 456]
b = sum(a) / len(a)

print(a)
print(b)

[332, 342, 456]
376.6666666666667

In [213]:
lis = [332, 342, 456]
a = sum(lis)
b = a / len(lis)

print(b)

376.6666666666667

In [216]:
import numpy as np
a = np.array([332, 342, 456])
print(a.mean())

376.6666666666667

In [220]:
a = [332, 342, 456]
a = sum(a) / 3
print(a)

376.6666666666667

In [222]:
list(zip([1, 2, 3], [4, 5, 6]))

[(1, 4), (2, 5), (3, 6)]