In [2]:
i = 0
i = i + 1
i +=1

In [3]:
result = 0

def add(num):
    global result
    result += num
    return result

print(add(3))

3

In [4]:
print(add(4))
print(add(1))

7

In [6]:
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2

In [46]:
add1(4)
add1(7)

66

In [47]:
add2(3)
add2(4)

42

In [20]:
class Calculator:
    def __init__(self): # 던더바 이닛
        self.result = 0
        
    def add(self, num):
        self.result += num
        return self.result

In [48]:
cal1 = Calculator()
cal2 = Calculator()

In [49]:
print(cal1.add(3))
print(cal1.add(5))

3
8

In [50]:
print(cal2.add(45))
print(cal2.add(7))

45
52

In [73]:
# 함수를 클라스 안에서 구현하면 메서드라고 부른다....

class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [63]:
a = FourCal()
a.setdata(4, 2)

In [62]:
print(a.first)
print(a.second)

4
2

In [54]:
b = FourCal()
b.setdata(2, 1)
print(b.first)
print(b.second)

2
1

In [56]:
id(b.first)
id(a.first)

140728088143744

In [69]:
a = FourCal()
a.setdata(4, 2)

In [72]:
print(a.add())

6

In [79]:
a = FourCal(4, 2)
print(a.add())
print(a.mul())
print(a.div())
print(a.sub())

6
8
2.0
2

In [90]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

In [96]:
a = MoreFourCal(4, 3)

In [92]:
a.add()

6

In [97]:
a.pow()

64

In [102]:
a = FourCal(4, 1)

In [103]:
a.div()

4.0

In [118]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else:
            return self.first / self.second

In [110]:
a = SafeFourCal(4, 0)
a.div()

0

In [111]:
b = SafeFourCal(4, 2)
b.div()

2.0

In [122]:
class Family:
    lastname = '김'

In [113]:
print(Family.lastname)

김

In [114]:
a = Family()
b = Family()

In [123]:
print(a.lastname)
print(b.lastname)

박
박

In [120]:
Family.lastname = '박'
print(a.lastname)
print(b.lastname)

박
박

In [125]:
id(Family.lastname)
id(a.lastname)
id(b.lastname)

2201137805872

In [130]:
try:
    a = [1, 2]
    print(a[3])
    4/0
except ZeroDivisionError:
         print('0으로 나눌 수 없습니다.')
except IndexError:
         print('인덱싱 할 수 없습니다.')

인덱싱 할 수 없습니다.

In [131]:
try:
    a = [1, 2]
    print(a[3])
    4 / 0
except ZeroDivisionError as e:
    print(e)
except IndexError as e:
    print(e)

list index out of range

In [132]:
try:
    a = [1, 2]
    print(a[3])
    4 / 0
except (ZeroDivisionError, IndexError) as e:
    print(e)

list index out of range