In [1]:
a = list(map(int,input().split()))

total = sum(a)
print(int(total/len(a)))

20 30 40
30

In [2]:
n = list(map(int,input().split()))
print("%d %d" % (n[0]//n[1], n[0] % n[1]))

2 4
0 2

In [3]:
a, b = map(int,input().split())
print("%d %d" % (a//b, a % b))

6 2
3 0

In [4]:
a = input("이름을 입력해주세요 영어로 : ")

print(a.upper())

이름을 입력해주세요 영어로 : sumin
SUMIN

In [26]:

def circle(n) :
    
    s = 0
    
    s = 3.14 * n * n 
    
    return s

a = circle(int(input()))
print(a)

7
153.86

In [ ]:
pa = {'수성' : 'Mercury', '금성' : 'Venus', '지구' : 'Earth', '화성' : 'Mars', '목성' : 'Jupiter', '토성': 'Saturn', '천왕성' : 'Uranus', '해왕성' : 'Nepturne'}

name = input("행성 이름 입력하세요 : ")

for i in range(1, len(pa)):
    if name == pa(i):
        print(pa[name])
    else :
        continue

In [ ]:
planet = {
    '수성' : 'Mercury', 
    '금성' : 'Venus', 
    '지구' : 'Earth', 
    '화성' : 'Mars', 
    '목성' : 'Jupiter', 
    '토성' : 'Saturn', 
    '천왕성' : 'Uranus', 
    '해왕성' : 'Nepturne'
}

a = input()

for i in planet.keys:
  if a != planet.keys:
    print("찾는 행성이 없습니다.")
  else : 
    print(planet[a])

In [ ]:
planet = {
    '수성' : 'Mercury', 
    '금성' : 'Venus', 
    '지구' : 'Earth', 
    '화성' : 'Mars', 
    '목성' : 'Jupiter', 
    '토성' : 'Saturn', 
    '천왕성' : 'Uranus', 
    '해왕성' : 'Nepturne'
}

try:
  a = input()
except KeyError:
  print("찾는 행성이 없습니다. ") 

print(planet[a])